<div>
<div id="BookingRightPane">
    
    <div class="panel panel-default">
        <div class="panel-heading header-bold"><i class="fa fa-search">&nbsp;</i>&nbsp;CHECK BUS AVAILABILITY</div>
        <div class="panel-body">
            <table class="table table-condensed form-group">
                <tr>
                    <td class="col-sm-4 col-md-4 input-sm">Alkhidmat Centres</td>
                    <td class="col-sm-8 col-md-8">
                        <select id="Select1" class="form-control input-sm">
                            <option value="1">Tariq Rd</option>
                            <option value="2">Nomayiesh</option>
                            <option value="3">North</option>
                        </select></td>
                </tr>
                <tr>
                    <td class="col-sm-4 col-md-4 input-sm">Buses</td>
                    <td class="col-sm-8 col-md-8">
                        <select id="Select2" class="form-control input-sm">
                            <option value="1">All</option>
                            <option value="1">EC-10001</option>
                            <option value="1">EC-10002</option>
                            <option value="1">EC-10003</option>
                            <option value="1">EC-10004</option>
                            <option value="1">EC-10005</option>
                        </select></td>
                </tr>
                <tr>
                    <td class="col-sm-4 col-md-4 input-sm"></td>
                    <td class="col-sm-8 col-md-8 input-sm">
                        <button id="Button1" class="btn btn-primary">Avialability</button>&nbsp;
                        <button id="Button3" class="btn btn-primary">Location</button>&nbsp;
                    </td>
                </tr>
            </table>

            <table class="table table-condensed form-group">
                <tr>
                    <td>Alkhidmat Centre - Tariq Rd</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#basicModal" class="btn-danger">reg-abc-123</a>|
                        <a href="#" data-toggle="modal" data-target="#basicModal" class="btn-danger">reg-abc-221</a>|
                        <a href="#" data-toggle="modal" data-target="#basicModal" class="btn-danger">reg-abc-143</a>|
                        <a href="#" data-toggle="modal" data-target="#basicModal" class="btn-danger">reg-abc-321</a>|
                    </td>
                </tr>
                <tr>
                    <td>Alkhidmat Centre - Korangi</td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#basicModal" class="btn-danger">reg-abc-123</a>|
                        <span class="btn-success">reg-abc-221</span>|
                        <a href="#" data-toggle="modal" data-target="#basicModal" class="btn-danger">reg-abc-143</a>|
                        <span class="btn-success">reg-abc-321</span>|
                    </td>
                </tr>
                <tr>
                    <td>Alkhidmat Centre - Nomayesh</td>
                    <td>
                        <span class="btn-success">reg-abc-123</span>|
                        <span class="btn-success">reg-abc-221</span>|
                        <span class="btn-success">reg-abc-143</span>|
                        <span class="btn-success">reg-abc-321</span>|
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</div>
</div>