<div id="BookingLeftPane">
    <ul class="list-group left-menu-size">
                <li class="list-group-item active">SUMMARY
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-stats"></span> Todays's Booking
                    <span class="badge">14</span>
                </li>
                <li class="list-group-item">CURRENT USER SUMMARY
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-stats"></span> Bookings
                    <span class="badge ">10</span>
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-stats"></span> Paid Bookings
                    <span class="badge ">07</span>
                </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-stats"></span> Unpaid Bookings
                    <span class="badge ">03</span>
                </li>
            </ul>

    <!--<table class="table table-condensed">
        <tr class="sub-header-bg-summary">
            <td colspan="2">SUMMARY</td>
        </tr>
        <tr class="sub-heading-summary">
            <td>Today's Booking</td>
            <td><a href="~/search">53</a></td>
        </tr>
        <tr class="sub-header-bg-summary">
            <td colspan="2">CURRENT USER SUMMARY</td>
        </tr>
        <tr class="sub-heading-summary">
            <td>Booking</td>
            <td><a href="~/search">10</a></td>
        </tr>
        <tr class="sub-heading-summary">
            <td>Paid Bookings</td>
            <td><a href="~/search">07</a></td>
        </tr>
        <tr class="sub-heading-summary">
            <td>Unpaid Bookings</td>
            <td><a href="~/search">03</a></td>
        </tr>
    </table>-->

</div>
