<div id="AdminLeftPane">
   <ul class="list-group left-menu-size">
                       
                        <li class="list-group-item active">
                           <div class="panel-heading header-bold"> REPORTS</div>
                        </li>
                        <li class="list-group-item">
                            
                               <a   href="#adminSearchBooking"> <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                Booking</a>
                        </li>
                        <li class="list-group-item">
                            
                                <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                Maintenance
                        </li>
                        <li class="list-group-item">
                            
                                <a   href="#adminBusVisit"><icon class="glyphicon glyphicon glyphicon-file"></icon>
                                Milage</a>
                        </li>
                        <li class="list-group-item">
                            
                                <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                User Logging
                        </li>
                    </ul>
</div>