<div>
    <table class="table table-condensed ">
        <tbody>
            <tr class="sub-header-bg">
                <td colspan="2">
                    <span><u>ADMINISTRATION - SUMMARY</u></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="sub-heading">USER LOGGING INFO</td>
            </tr>
            <tr>
                <td>Buses - Modified</td>
                <td><a href="#">3</a></td>
            </tr>
            <tr>
                <td>Alkhidmat Centre - Modified</td>
                <td><a href="#">5</a></td>
            </tr>
            <tr>
                <td>User- Modified</td>
                <td><a href="#">6</a></td>
            </tr>
        </tbody>
    </table>
</div>
