<div id="AdminLeftPane">
    <ul class="list-group left-menu-size">

        <li class="list-group-item active">
            <i class="fa fa-line-chart">&nbsp;</i>&nbsp;REPORTS
        </li>
        <li class="list-group-item">

            <a href="#adminSearchBooking">
                <icon class="fa fa-book">&nbsp;</icon>&nbsp;Booking</a>
        </li>
        <li class="list-group-item">

            <a href="#adminBusVisit">
                <icon class="fa fa-bus">&nbsp;</icon>&nbsp;Milage</a>
        </li>
        <li class="list-group-item">
            <a href="#driverSummary">
                <icon class="fa fa-male">&nbsp;</icon>&nbsp;
                Driver's Summary</a>
        </li>
        <li class="list-group-item">
            <a href="#busVisitSummary">
                <icon class="fa fa-bus">&nbsp;</icon>&nbsp;
                Bus Visit - Bookings</a>
        </li>
        <li class="list-group-item">
            <a href="#busVisitMilageSummary">
                <icon class="fa fa-bus">&nbsp;</icon>&nbsp;
                Bus Visit - Non Bookings</a>
        </li>

        <li class="list-group-item active">
            <i class="fa fa-twitch">&nbsp;</i>&nbsp;AUDIT TRAIL
        </li>
        <li class="list-group-item">
            <a href="#auditBooking"><icon class="fa fa-book">&nbsp;</icon>&nbsp;Booking</a> 
        </li>
        <li class="list-group-item">
            <a href="#auditPayment"><icon class="fa fa-cc-mastercard">&nbsp;</icon>&nbsp;Payment</a>
        </li>
        <li class="list-group-item">
            <a href="#auditRefundBooking"><icon class="fa fa-cc-visa">&nbsp;</icon>&nbsp;Refund Booking</a>
        </li>
    </ul>
</div>
