<div>
    <script type="text/html" id="SiteHeader">

        <!--@*<nav class="navbar navbar-default" role="navigation">*@-->
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#viewHome"><i class="fa fa-home">&nbsp;</i>Home</a></li>               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears">&nbsp;</i>Main<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="#addBooking"><span class="glyphicon glyphicon-time"></span>Add</a></li>-->
                        <li><a href="#viewBooking"><i class="fa fa-book">&nbsp;</i>Booking</a></li>
                        <li><a href="#viewBusVisit"><i class="fa fa-bus">&nbsp;</i>Bus Visit</a></li>
                        <li><a href="#searchBooking"><span class="fa fa-search">&nbsp;</span>Search</a></li>
                        <li class="divider"></li>
                        <!--<li class="divider"></li>
                            <li><a href="#cancelBooking"><span class="glyphicon glyphicon-time"></span>Cancel</a></li>-->
                    </ul>
                </li>
                <!-- diaplay only to admin-->
                <% if(isAdminRole()) {%> 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock">&nbsp;</i>Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#viewAlkhidmatCentre"><i class="fa fa-institution">&nbsp;</i>Alkhidmat Centre</a></li>
                        <li><a href="#viewAdminBus"><i class="fa fa-bus">&nbsp;</i>Bus</a></li>
                        <li><a href="#viewCauseOfDeath"><i class="fa fa-ambulance">&nbsp;</i>Cause of Death</a></li>
                        <li class="divider"></li>
                        <li><a href="#viewDriver"><i class="fa fa-male">&nbsp;</i>Driver</a></li>
                        <li><a href="#viewGraveyard"><i class="fa fa-random">&nbsp;</i>Graveyard</a></li>
                        <li><a href="#viewLandmark"><i class="fa fa-building-o">&nbsp;</i>Landmark</a></li>
                        <li class="divider"></li>
                        <li><a href="#viewPaymentType"><i class="fa fa-cc-mastercard">&nbsp;</i>Payment Type</a></li>
                        <li><a href="#viewRefundType"><i class="fa fa-cc-visa">&nbsp;</i>Refund Type</a></li>
                        <li><a href="#viewTrackingDevice"><i class="fa fa-clock-o">&nbsp;</i>Tracking Device</a></li>
                        <li class="divider"></li>
                        <li><a href="#viewUser"><i class="fa fa-user">&nbsp;</i>User</a></li>
                        <li><a href="#viewVisitType"><i class="fa fa-bus">&nbsp;</i>Visit Type</a></li>
                        <li class="divider"></li>
                        <!--<li><a href="#cancelAdmin"><span class="glyphicon glyphicon-time"></span>Cancel</a></li>-->
                    </ul>
                </li>
                <%}%>
                
            </ul>
           <!-- <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>-->
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">&nbsp;</i><%=firstName%>,<%=lastName%><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-file-text">&nbsp;</i> Profile</a></li>
                        <li><a href="#changePassword"><i class="fa fa-edit">&nbsp;</i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href=""><i class="fa fa-sign-out">&nbsp;</i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </script>
</div>
