<div>
    <script type="text/html" id="Modal">
        <div class="modal-dialog jsModal" style="z-index: 10001">
            <div class="modal-content">
                <div class="modal-header <%=type%>">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel"><%=title%></h4>
                </div>
                <div class="modal-body modalBody" id="ModalBody">
                    <strong><%=message%></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn <%=type%>" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </script>
</div>
